.ei-slider {
	float: left;
	width: 100%;
	height: 600px;
}
.ei-slider-loading {
	top: 0px;
	left: 0px;
	color: #ccc;
	width: 100%;
	height: 100%;
	z-index: 999;
	font-size: 11px;
	position: absolute;
	text-align: center;
	line-height: 400px;
	font-style: italic;
}
.ei-slider-large {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.ei-slider-large li {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	list-style: none;
	overflow: hidden;
	position: absolute;
}
.ei-slider-large li img {
	float: left;
	width: 100%;
	max-width: none !important;
}
.ei-slider-thumbs {
	width: 98%;
	height: 5px;
	float: right;
	margin-right: 2%;
	margin-top: -20px;
	position: relative;
}
.ei-slider-thumbs li {
	float: left;
	z-index: 10;
	height: 100%;
	display: block;
	list-style: none;
	position: relative;
}
.ei-slider-thumbs li.ei-slider-element {
	top: 0px;
	left: 0px;
	z-index: 11;
	height: 100%;
	position: absolute;
	text-indent: -9000px;
	background-color: #6fa92c;
}
.ei-slider-thumbs li a {
	width: 90%;
	height: 100%;
	margin: 0px 5%;
	display: block;
	cursor: pointer;
	text-indent: -9000px;
	background-color: #ccc;
	transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover {
	background-color: #6fa92c;
}
.ei-title {
	top: 45%;
	left: 20%;
	width: 70%;
	position: absolute;
}
.ei-title h4 {
	color: #fff;
	float: right;
	font-size: 50px;
	line-height: 40px;
	padding: 2% 10% 2% 2%;
	background: rgba(127,182,70,0.9);
}
@media only screen and (min-width:960px) and (max-width:1389px) {
.ei-slider {
	height: 400px;
}
.ei-slider-thumbs {
	width: 20%;
}
.ei-title h4 {
	font-size: 40px;
	line-height: 30px;
}
}
@media only screen and (min-width:768px) and (max-width:990px) {
.ei-slider {
	height: 350px;
}
.ei-title h4 {
	font-size: 30px;
	line-height: 25px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
@media all and (max-width: 768px) {
.ei-slider {
	height: 250px;
}
}
@media only screen and (max-width:767px) {
.ei-slider {
	height: 140px;
}
.ei-slider-thumbs {
	width: 20%;
}
.ei-title {
	top: 35%;
}
.ei-title h4 {
	font-size: 18px;
	line-height: 16px;
}
}
@media only screen and (min-width:480px) and (max-width:767px) {
.ei-slider {
	height: 200px;
}
.ei-slider-thumbs {
	width: 20%;
}
.ei-title {
	top: 35%;
}
.ei-title h4 {
	font-size: 20px;
	line-height: 20px;
}
}
