p, li, td {
	font-size: 14px;
	line-height: 19px;
}
h1 {
	font-size: 30px;
	line-height: 34px;
}
h2 {
	font-size: 26px;
	line-height: 30px;
}
h3 {
	font-size: 24px;
	line-height: 28px;
}
h4 {
	font-size: 22px;
	line-height: 26px;
}
h5 {
	font-size: 20px;
	line-height: 24px;
}
h6 {
	font-size: 18px;
	line-height: 22px;
}
.container {
	margin: auto;
	width: 1200px;
	position: relative;
}
.logo_bg {
	padding: 2% 0;
	text-align: center;
}
.welcome {
	width: 60%;
	float: left;
	padding: 10% 20%;
	text-align: center;
}
.welcome h1 {
	width: 70%;
	margin: auto;
	color: #2f3c4f;
	padding-bottom: 2%;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
}
.welcome h1 span {
	font-size: 150%;
}
.welcome h4 {
	color: #7cb547;
	margin: 5% 10%;
	text-transform: uppercase;
}
.garments {
	width: 70%;
	float: left;
	padding: 0% 15% 10% 15%;
}
.garments h1 {
	width: 70%;
	margin: auto;
	color: #2f3c4f;
	margin-bottom: 5%;
	padding-bottom: 1%;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
}
.gar01 {
	width: 33%;
	float: left;
}
.marAlign {
	margin: 0 0.5%;
}
.homework01 {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.homehover {
	color: #fff;
	display: none;
}
.homehover h2 {
	top: 0%;
	left: 0%;
	width: 90%;
	height: 100%;
	text-align: center;
	position: absolute;
	padding: 55% 5% 0px 5%;
	text-transform: uppercase;
	background: rgba(127,182,70,0.7);
}
.homework01:hover .homehover {
	float: left;
	width: 100%;
	display: block;
	cursor: pointer;
}
.support_bg h1 {
	width: 70%;
	margin: auto;
	color: #2f3c4f;
	margin-bottom: 15%;
	padding-bottom: 1%;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
}
.support01, .support02, .support03, .support04 {
	width: 22%;
	float: left;
	text-align: center;
}
.support02 {
	margin: 0px 2% 0px 4%;
}
.support03 {
	margin: 0px 4% 0px 2%;
}
.supportarea {
	width: 80%;
	float: left;
	background-color: #fff;
	padding: 0px 10% 20% 10%;
}
.supportarea img {
	padding: 10%;
	margin-top: -50%;
	border: 1px solid #aaa;
	background-color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.supportarea h6 {
	margin: 15% 0;
	text-transform: uppercase;
}
a .supportarea {
	color: #000;
}
a .supportarea h6 {
	color: #7cb547;
}
a:hover .supportarea {
	background-color: #d4ebbe;
}
a:hover .supportarea h6 {
	color: #000;
}
.news_bg {
	padding: 4% 0 5% 0;
}
.news_bg h1 {
	width: 70%;
	margin: auto;
	color: #2f3c4f;
	margin-bottom: 5%;
	padding-bottom: 1%;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #999;
}
.latest {
	float: left;
	width: 100%;
	color: #fff;
	text-align: center;
	position: relative;
	background-color: #7cb547;
}
.latest h3 {
	margin-bottom: 3%;
	text-transform: uppercase;
}
.latest a {
	color: #fff;
	display: block;
	margin-top: 2%;
	text-decoration: underline;
}
.latest a:hover {
	text-decoration: none;
}
.news_img {
	width: 45%;
	float: left;
}
.news_img img {
	float: left;
}
.news_txt {
	width: 45%;
	float: left;
	padding: 5%;
}
.footer_bg {
	padding: 3% 0;
	background-color: #fff;
}
.footer_bg p {
	font-size: 13px;
}
.footer_bg a:hover img {
	opacity: 0.7;
	-moz-opacity: 0.7;
	khtml-opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
.footer {
	float: left;
	width: 100%;
	margin-bottom: 4%;
}
.footer01 {
	width: 35%;
	float: left;
	text-transform: uppercase;
}
.footer02 {
	width: 25%;
	float: left;
}
.footer03 {
	width: 25%;
	float: left;
}
.footer03 a {
	color: #7cb547;
}
.footer03 a:hover {
	text-decoration: underline;
}
.footer04 {
	width: 15%;
	float: right;
}
.footer04 p {
	text-align: right;
}
.footer04 p img {
	margin-left: 5px;
	display: none;
}
.copyright {
	float: left;
	width: 100%;
}
.rights {
	width: 50%;
	float: left;
	text-transform: uppercase;
}
.design {
	width: 50%;
	float: right;
	text-align: right;
	display: none;
}
.read_more {
	float: right;
	width: 100%;
	margin-top: 1%;
}
.read_more p {
	float: right;
}
.read_more p a {
	color: #7cb547;
}
.read_more p a:hover {
	text-decoration: underline;
}
@media only screen and (min-width:960px) and (max-width:1389px) {
p, li, td {
	font-size: 13px;
	line-height: 18px;
}
h1 {
	font-size: 28px;
	line-height: 32px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
}
h3 {
	font-size: 22px;
	line-height: 26px;
}
h4 {
	font-size: 20px;
	line-height: 24px;
}
h5 {
	font-size: 18px;
	line-height: 22px;
}
h6 {
	font-size: 16px;
	line-height: 20px;
}
.container {
	width: 960px;
}
.news_img {
	width: 49%;
}
.news_txt {
	width: 45%;
	padding: 3%;
}
.footer_bg p {
	font-size: 12px;
}
}
@media only screen and (min-width:768px) and (max-width:990px) {
p, li, td {
	font-size: 12px;
	line-height: 17px;
}
h1 {
	font-size: 26px;
	line-height: 30px;
}
h2 {
	font-size: 22px;
	line-height: 26px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
}
h4 {
	font-size: 18px;
	line-height: 22px;
}
h5 {
	font-size: 16px;
	line-height: 20px;
}
h6 {
	font-size: 14px;
	line-height: 18px;
}
.container {
	width: 761px;
}
.news_img {
	width: 49%;
}
.news_txt {
	width: 45%;
	padding: 3%;
}
.footer_bg p {
	font-size: 11px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
@media all and (max-width: 768px) {
.container {
	width: 740px;
}
.logo_bg img {
	width: 20%;
}
}
@media only screen and (max-width:767px) {
p, li, td {
	font-size: 11px;
	line-height: 16px;
}
h1 {
	font-size: 20px;
	line-height: 24px;
}
h2 {
	font-size: 18px;
	line-height: 22px;
}
h3 {
	font-size: 16px;
	line-height: 20px;
}
h4 {
	font-size: 14px;
	line-height: 16px;
}
h5 {
	font-size: 12px;
	line-height: 14px;
}
h6 {
	font-size: 11px;
	line-height: 16px;
}
.container {
	width: 300px;
}
.logo_bg img {
	width: 35%;
}
.welcome {
	width: 100%;
	padding: 10% 0;
}
.welcome h1 span {
	font-size: 120%;
}
.garments {
	width: 100%;
	padding: 0 0 10% 0;
}
.support01, .support02, .support03, .support04 {
	width: 49%;
}
.support01 {
	margin: 10% 0 0 0;
}
.support02 {
	float: right;
	margin: 10% 0 0 0;
}
.support03 {
	margin: 25% 0 0 0;
}
.support04 {
	float: right;
	margin: 25% 0 0 0;
}
.news_img {
	width: 100%;
}
.news_txt {
	width: 94%;
	padding: 3%;
}
.footer01, .footer02, .footer03, .footer04 {
	width: 100%;
}
.footer_bg p {
	font-size: 10px;
}
}
@media only screen and (min-width:480px) and (max-width:767px) {
p, li, td {
	font-size: 12px;
	line-height: 17px;
}
h1 {
	font-size: 22px;
	line-height: 26px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
}
h4 {
	font-size: 16px;
	line-height: 20px;
}
h5 {
	font-size: 14px;
	line-height: 16px;
}
h6 {
	font-size: 12px;
	line-height: 14px;
}
.container {
	width: 420px;
}
.logo_bg img {
	width: 30%;
}
.footer_bg p {
	font-size: 11px;
}
}
